header {
  color: #f8f9fa;
  background-color: #212529;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020; }
  header nav div ul li {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 0.5rem; }
    header nav div ul li a {
      text-decoration: none;
      color: #f8f9fa;
      pointer-events: auto; }
      header nav div ul li a:hover {
        color: #bad1e8; }
  header nav div a img {
    max-width: 100%;
    height: auto; }

main {
  padding: 0 !important; }
  main #headerImg {
    width: 100%;
    margin: 0; }
    main #headerImg div {
      padding: 0; }
      main #headerImg div img {
        max-width: 100%;
        height: auto; }
  main #intro {
    margin: 3rem;
    padding: 0 0.5rem;
    text-align: center; }
  main .info-block {
    margin: 1.5rem; }
    main .info-block .text-block {
      border: 1px solid #6c757d;
      display: flex;
      justify-content: center;
      flex-direction: column; }

body {
  min-height: 100vh;
  background-color: #e9ecef;
  overflow-x: hidden; }

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #212529; }

h1 {
  color: #f8f9fa;
  font-size: calc(1.375rem + 1.5vw); }

h2 {
  font-size: calc(1.325rem + 0.9vw); }

h3 {
  font-style: italic;
  font-size: calc(1.3rem + 0.6vw); }

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem; } }
