@import "./variables";
@import "./header";
@import "./index";

body {
    min-height: 100vh;
    background-color: $bg-color;
    overflow-x: hidden;
}

h1, h2, h3{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: $bg-color-secondary;
}

h1{
    color: $color-secondary;
    font-size: calc(1.375rem + 1.5vw);
}

h2{
    font-size: calc(1.325rem + 0.9vw);
}

h3{
    font-style: italic;
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

    h1, .h1 {
        font-size: 2.5rem;
    }
}